#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    background_color: "#707077",
    text_color: "#494F61",
    header_background_color: "#707077",
    modal_background_color: "#707077",
    modal_backdrop: true,
    preview_label_style: (fg: "#5B6A8F"),
    preview_metadata_group_style: (fg: "#5B6A8F", modifiers: "Bold"),
    highlighted_item_style: (fg: "#5B6A8F", modifiers: "Bold"),
    current_item_style: (fg: "#C3C4D1", bg: "#5B6A8F", modifiers: "Bold"),
    borders_style: (fg: "#0B1F44"),
    highlight_border_style: (fg: "#5B6A8F"),
    symbols: (
        song: "S",
        dir: "D",
        playlist: "P",
        marker: "M",
        ellipsis: "...",
        song_style: None,
        dir_style: (fg: "#45577E"),
        playlist_style: (fg: "#798DBF"),
    ),
    level_styles: (
        info: (fg: "#5C74A8"),
        warn: (fg: "#5C74A8"),
        error: (fg: "#0E2E66"),
        debug: (fg: "#5C74A8"),
        trace: (fg: "#798DBF"),
    ),
    progress_bar: (
        symbols: ["█", "█", "█", " ", "█"],
        track_style: (fg: "#0B1F44"),
        elapsed_style: (fg: "#5B6A8F"),
        thumb_style: (fg: "#5B6A8F"),
        use_track_when_empty: true,
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "#0B1F44"),
        ends_style: (fg: "#0B1F44"),
        thumb_style: (fg: "#5B6A8F"),
    ),
    tab_bar: (
        active_style: (fg: "#C3C4D1", bg: "#5B6A8F", modifiers: "Bold"),
        inactive_style: (fg: "#494F61", bg: "#0B1F44"),
    ),
    lyrics: (
        timestamp: false,
    ),
)
