#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    background_color: "#0C0C0D",
    text_color: "#D5DADD",
    header_background_color: "#0C0C0D",
    modal_background_color: "#0C0C0D",
    modal_backdrop: true,
    preview_label_style: (fg: "#657076"),
    preview_metadata_group_style: (fg: "#657076", modifiers: "Bold"),
    highlighted_item_style: (fg: "#657076", modifiers: "Bold"),
    current_item_style: (fg: "#3E3F41", bg: "#657076", modifiers: "Bold"),
    borders_style: (fg: "#83878B"),
    highlight_border_style: (fg: "#657076"),
    symbols: (
        song: "S",
        dir: "D",
        playlist: "P",
        marker: "M",
        ellipsis: "...",
        song_style: None,
        dir_style: (fg: "#576067"),
        playlist_style: (fg: "#87959E"),
    ),
    level_styles: (
        info: (fg: "#748089"),
        warn: (fg: "#616B74"),
        error: (fg: "#3A424A"),
        debug: (fg: "#4D565F"),
        trace: (fg: "#87959E"),
    ),
    progress_bar: (
        symbols: ["█", "█", "█", " ", "█"],
        track_style: (fg: "#83878B"),
        elapsed_style: (fg: "#657076"),
        thumb_style: (fg: "#657076"),
        use_track_when_empty: true,
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "#83878B"),
        ends_style: (fg: "#83878B"),
        thumb_style: (fg: "#657076"),
    ),
    tab_bar: (
        active_style: (fg: "#3E3F41", bg: "#657076", modifiers: "Bold"),
        inactive_style: (fg: "#D5DADD", bg: "#83878B"),
    ),
    lyrics: (
        timestamp: false,
    ),
)
